<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>StockNotify: Unsubscription Success</title>
		<style>
			p {
			    background: #fff;
			    background-color: #edeff2;
			    font-size: 17px;
			    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
			    margin-bottom: 10px;
			    overflow: auto;
			    color: #535456;
			  }

			h1 {
			  	font-size: 22px;
			  	background-color: #edeff2;
			  	color: #535456;
			  	font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
			  }

			div {
				margin: auto;
				width: 50%;
				background-color: #edeff2;
				text-align: center;
				padding: 7px;
			}

			body {
				 border-bottom: 1px solid #dedede;
				 padding: 7px;
			}
		</style>
	</head>

	<body>
		<div id="main">
			<h1> 
				Hello, <%= @first_name %>!
			</h1>

			<p> You have unsubscribed from the following stock share: <strong><%= @stock_symbol %></strong> </br></br>
				You will no longer receive notifications about price changes for this share. </br>
				You can re-subscribe at any time by <em>logging in</em> and creating a new notification.
			</p>
		</div>
	</body>
</html>