<!DOCTYPE html>
<html>
  <head>
    <title>Stocknotify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'update_table-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'update_table-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
